header {
    font-family: "Roboto", sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 60%;
}

/* ===== Magic Text ========================================================= */

@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

.magic-text {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
        to right,
        var(--primary-orange),
        var(--accent-green),
        var(--highlight-yellow),
        var(--primary-orange)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    text-decoration: none;

    transition: var(--transition-time);
}

/* ===== Title ============================================================== */

header > h1 {
    font-size: 2.5rem;
}

/* ===== Description ======================================================== */

header > p {
    font-size: 1.25rem;
    text-align: center;

    margin: 0px;
    padding: 0px;
    padding-bottom: 1rem;
}

header > p > a {
    color: var(--text-color);
    transition: var(--transition-time) linear;
}

header > p > a:hover {
    color: var(--text-hover-color);
    transition: var(--transition-time) linear;
}
